<div class="grid-container">
  <h1 class="mat-h1">{{title}}</h1>
  <button (click)="addGraph()">Add Graph</button>

  <mat-grid-list cols="1">
    <mat-card> 
      <app-dygraph-viewer [graphData$]="mainGraphData$"></app-dygraph-viewer>
    </mat-card>
  </mat-grid-list>
  
  <mat-grid-list cols={{graphsInRow2$.length}} >
    <mat-grid-tile *ngFor="let graph of graphsInRow2$">
      <app-dygraph-viewer [graphData]="graph | async"></app-dygraph-viewer>
    </mat-grid-tile>
  </mat-grid-list>

</div>
